@charset "utf-8";
/* CSS Document */
body{
    padding:150px;	
}
.navbar-inverse input[type="text"]{
    background:#333;
	color:#999;
	border:none;	
}

.navbar-inverse button[type="submit"]{
    background:none;
	color:#999;
	border:none; 	
}
.navbar-inversen  form{
       position:relative;
}
.navbar-inverse .glyphicon-search{
	position:relative;
	top:5px;
}